<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CONTACT US_MidGod_CatBehaviors</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Jost:wght@700&family=Jua&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/c599051bf5.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="content-container-page2">
        <!-- nav บนจ้า -->
        <div class="nav-tab">
            <div class="header">

                <div class="logo">
                    <a>Mild<b>God</b></a>
                </div>

                <nav class="nav">
                    <ul class="nav-items">
                        <li>
                            <a href="index">HOME</a>
                        </li>
                        <li>
                            <a href="About">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#" class="active">CONTACT US</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End nav -->

        <!-- about us-box -->
        <div class="CONTACT_US-box">
            <div class="icon_EM">
                <li>
                    <a href="#">
                        <i class="fa-regular fa-paper-plane fa-5x fa-color"></i>
                    </a>
                </li>
            </div>
            <div class="text4">CONTACT US</div>
            <div class="text5">rreerat.saku@bumail.net</div>
        </div>
        <!-- End about us-box -->

        <div class="img-cat"></div>


    </div>
</body>

</html>