<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>HOME_MidGod_CatBehaviors</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Jost:wght@700&family=Jua&family=Roboto:wght@100;400&display=swap"
    rel="stylesheet">

</head>

<body>

  <div class="content-container">
    <!-- nav บนจ้า -->
    <div class="nav-tab">
      <div class="header">

        <div class="logo">
          <a>Mild<b>God</b></a>
        </div>

        <nav class="nav">
          <ul class="nav-items">
            <li>
              <a href="#" class="active">HOME</a>
            </li>
            <li>
              <a href="About">ABOUT US</a>
            </li>
            <!-- <li>
              <a href="#">SERVICES</a>
            </li> -->
            <li>
              <a href="Contact">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End nav -->

    <!-- Hero Container-->
    <div class="img1"></div>
    <div class="subtract"></div>
    <div class="img-cat"></div>
    <div class="img2"></div>
    <div class="img4"></div>

    <div class="hero-container">
      <div class="left">
        <h1>15 Strange Cat Behaviors Explained
        </h1>
      </div>
      <div class="right"></div>
    </div>
    <!-- End Hero -->

    <!-- frame1 -->
    <div class="frame1">
      <div class="rectangle_1"></div>
      <div class="img6"></div>
      <div class="editor">Editor picks</div>
      <div class="text1">
        Learn about the latest science-backed research in nutrition and cat behavior, and get the most up-to-date
        information from our experts and veterinarians.
      </div>
    </div>
    <div class="img7"></div>
    <!-- End frame1 -->

    <!-- subtitle -->
    <div class="subtitel1">
      <div class="article1">1 Chattering</div>
      <ul class="icon-cat">
        <li><a href="#part1" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel2">
      <div class="article2">2 Rubbing</div>
      <ul class="icon-cat">
        <li><a href="#part2" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel3">
      <div class="article3">3 Bring You "Gifts"</div>
      <ul class="icon-cat">
        <li><a href="#part3" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel4">
      <div class="article4">4 Eating Non-Food Items</div>
      <ul class="icon-cat">
        <li><a href="#part4" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel5">
      <div class="article5">5 Feline Kneading</div>
      <ul class="icon-cat">
        <li><a href="#part5" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel6">
      <div class="article6">6 If I Fits, I Sits</div>
      <ul class="icon-cat">
        <li><a href="#part6" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel7">
      <div class="article7">7 Cat Eyes</div>
      <ul class="icon-cat">
        <li><a href="#part7" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel8">
      <div class="article8">8 Kitty Litter Fail</div>
      <ul class="icon-cat">
        <li><a href="#part8" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel9">
      <div class="article9">9 2 a.m Zoomies & Cat Calls</div>
      <ul class="icon-cat">
        <li><a href="#part9" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel10">
      <div class="article10">10 Ear-Itation</div>
      <ul class="icon-cat">
        <li><a href="#part10" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel11">
      <div class="article11">11 Rolling Around</div>
      <ul class="icon-cat">
        <li><a href="#part11" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel12">
      <div class="article12">12 Oh You're Using That?</div>
      <ul class="icon-cat">
        <li><a href="#part12" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel13">
      <div class="article13">13 Knock It Off!</div>
      <ul class="icon-cat">
        <li><a href="#part13" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel14">
      <div class="article14">14 Taking a Sip</div>
      <ul class="icon-cat">
        <li><a href="#part14" class="icon"></a></li>
      </ul>
    </div>

    <div class="subtitel15">
      <div class="article15">15 Twitchy Tails</div>
      <ul class="icon-cat">
        <li><a href="#part15" class="icon"></a></li>
      </ul>
    </div>

    <div class="img8"></div>
    <!-- End subtitle -->

    <!-- paragraph -->

    <div class="img9"></div>
    <div class="img10"></div>
    <div class="vector">
      <div class="vector_1"></div>
      <div class="vector_2"></div>
      <div class="vector_3"></div>
      <div class="vector_4"></div>
      <div class="vector_5"></div>
      <div class="vector_6"></div>
      <div class="vector_7"></div>
      <div class="vector_8"></div>
    </div>

    <div class="section_1">
      <div id="part1">
        #1 Chattering
      </div>
      <div class="paragraph1">
        You have probably heard your cat emit a fast and intense teeth chattering- especially when they spot a bird
        while gazing out of a window. Behaviorists speculate that this is because your cat is frustrated that they
        cannot get outside to hunt prey. They also may be excited and slightly aggravated.Others say that this strange
        jaw movement may be your kitty's natural instinct that allows their muscles to prepare for the act of killing
        prey. Either way, this behavior is completely normal for your feline.
      </div>
    </div>

    <div class="section_2">
      <div id="part2">
        #2 Rubbing
      </div>
      <div class="paragraph2">
        When your kitty rubs his head on you, he is doing more than just showing you affection and saying hello. He is
        actually doing something that behaviorist's call "bunting". Pheromones are actually being released from his head
        and it is his way of showing ownership over you. Just as a cat would rub on furniture to leave his scent to mark
        his territory- he is showing pride in that you are his.
      </div>
    </div>

    <div class="section_3">
      <div id="part3">
        #3 Bring You "Gifts"
      </div>
      <div class="paragraph3">
        Behaviorists have a few theories on why your cat is persistent in his pursuit of leaving you their kills. Even
        though this habit may be perceived as a gross one- your kitty is acknowledging you as a member of his group, and
        is sharing his hunting success with you. He could be thanking you for taking care of him or perhaps you pay more
        attention to him when he generously brings you rodents, birds, or insects.If this is a behavior you would like
        to curb of your outdoor cat, try putting a bell on his collar so that it is more challenging to hunt.
      </div>
    </div>

    <div class="section_4">
      <div id="part4">
        #4 Eating Non-Food Items
      </div>
      <div class="paragraph4">
        Does your cat enjoy chewing on non-edible items such as wools, cloth, inedible plants, plastic, or metal? This
        could be a sign of a rare condition in cats called pica. Often the cause of this is unknown; however, some
        proposed reasons include mineral deficiencies, anemia, hyperthyroidism, genetics, boredom, and stress.If your
        cat is showing symptoms of pica, it is time to have a full examination by a veterinarian in order to rule out
        any underlying problems.
      </div>
    </div>

    <div class="section_5">
      <div id="part5">
        #5 Feline Kneading
      </div>
      <div class="paragraph5">
        When your cat presses his paws into you, and massages back and forth- this can be a rather enjoyable feline
        behavior. Your kitty's instinct to do this traces back to their earliest days of nursing. By pressing his paws
        on his mother's mammary glands, it encouraged better milk production. When your cat does this as an adult he is
        either content, and showing that he is happy, or he is trying to alleviate stress and the habit is one to calm
        him down. Either way, take it as a compliment that you remind him of his mommy!
      </div>
    </div>

    <div class="section_6">
      <div id="part6">
        #6 If I Fits, I Sits
      </div>
      <div class="paragraph6">
        Cat's ability to fit themselves "comfortably" into tight spaces never ceases to amaze, or entertain us for that
        matter. There are plenty of comfy places they could rest instead, like say that cat bed you purchased them. So
        why do they choose to curl up in boxes, bathroom sinks, small baskets, etc? cat in box. Small spaces make your
        cat feel safe and secure. If they were out in the wild, they would not want to be unprotected in an open area
        because this would make them more susceptible to predators. Felines also have a natural instinct to ambush. By
        hiding in small tiny spaces they are able to watch and observe their surroundings from a distance.
      </div>
    </div>

    <div class="section_7">
      <div id="part7">
        #7 Cat Eyes
      </div>
      <div class="paragraph7">
        One minute your cat's eyes are glued on you, the next he seemingly wants nothing to do with you. So what
        gives?When your cat is staring you down he is probably just trying to get your attention. If the stare is
        intense, this "staring contest" could mean that he is on high alert about someone or a situation. It is advised
        to not look at your cat directly in the eyes. As with any animal, cats see this is an act of aggression in
        preparation for a fight.cat eyes. Have you ever noticed your kitty slowly blinking at you? Behaviorist call this
        act "kitty kisses." These slow blinks are your feline's way of showing affection and telling you that they like
        and trust you. If you blink slowly back at them, they most likely will continue to blow "kitty kisses" your way.
      </div>
    </div>

    <div class="section_8">
      <div id="part8">
        #8 Kitty Litter Fail
      </div>
      <div class="paragraph8">
        Urinating or defecating outside the litter box, known as inappropriate elimination, is the most common
        behavioral complaint of cat owners. Understanding the underlying causes of this condition can help ease the
        frustration and rebuild the bond between cat lovers and their feline friends.While many cat owners believe their
        feline friends are "misbehaving" when they urinate or defecate outside the litter box, more often than not, the
        cat is simply trying to avoid a painful trip to the litter box. For more information about inappropriate
        elimination
      </div>
    </div>

    <div class="section_9">
      <div id="part9">
        #9 2 a.m Zoomies & Cat Calls
      </div>
      <div class="paragraph9">
        Don't you just love when you're fast asleep and you're jolted awake by the sound of your cat barreling down the
        hallway? Or fluffy is yowling away while you're trying to get a good night's sleep? Most house cats have an
        enormous amount of energy that is pent up during the day and needs to be released. This combined with their
        nocturnal instincts to hunt during the night may wreak havoc on your sleep.We recommend regularly exercising
        your cat during the day in order to avoid random sprints throughout the house in the middle of the night. You
        can also try feeding him right before you go to bed, and to curb the desire to hunt at night you may want to try
        providing her with food puzzles to keep her engaged while you snooze.If your excessively vocal cat is a senior,
        this could signify a serious, yet treatable condition. We recommend that you book an appointment with your vet
        if this is the case.
      </div>
    </div>

    <div class="section_10">
      <div id="part10">
        #10 Ear-Itation
      </div>
      <div class="paragraph10">
        If you notice that your kitty's ears are twitching back and forth- it's time to slowly back up. This is one way
        that they express anxiety or agitation. However, if their ears are just slightly pointed upright, this means
        that they are alert and simply listening intently to their surroundings.
      </div>
    </div>

    <div class="section_11">
      <div id="part11">
        #11 Rolling Around
      </div>
      <div class="paragraph11">
        Rolling around on their back leaves them in a vulnerable position, so if fluffy is doing this in front of you-
        take it as a compliment! He feels safe around you and you have earned his trust. A roll on the floor means that
        he is trying to engage you in a little play time.
      </div>
    </div>

    <div class="section_12">
      <div id="part12">
        #12 Oh You're Using That?
      </div>
      <div class="paragraph12">
        Magazines, laptops, books, clothes you've laid out, you name it- your cat loves to lay on it at the exact time
        that you're using it. Your kitty knows if he plops himself down on whatever you're paying attention to- chances
        are, he will get some affection.cat on computer.He is also leaving his scent on your belongings, as a way to
        claim his territory that you are indeed his.
      </div>
    </div>

    <div class="section_13">
      <div id="part13">
        #13 Knock It Off!
      </div>
      <div class="paragraph13">
        For no apparent reason, your cat randomly starts batting things off of the table, and calmly watches it fall to
        floor. This can be a rather frustrating antic as a cat owner- but your kitty is not just trying to aggravate
        you, we promise.You know what they say about cats and curiosity, well it is as simple as that- he is just
        curious and potentially bored! Although this is entertaining for him, you may want to try stimulating him with
        some new toys if you'd like to curb this naughty habit.
      </div>
    </div>

    <div class="section_14">
      <div id="part14">
        #14 Taking a Sip
      </div>
      <div class="paragraph14">
        You head over to the sink and turn on the water faucet, only to have your cat come and take a sip from the
        running water. What's up with that? They have their own water bowl, why choose the faucet?cat drinking from
        faucet.This behavior is may actually originate from your feline's wildcat ancestors. Out in the wild, it's safer
        to drink from running water sources such as a river than a stagnant water source that could be home to bacteria
        and other contaminates. Guess your cat is just playing it safe!
      </div>
    </div>

    <div class="section_15">
      <div id="part15">
        #15 Twitchy Tails
      </div>
      <div class="paragraph15">
        You're watching your cat do her thing around the house and notice a little twitch happening around the tip of
        her tail. Is that normal? Yes! It absolutely is and could be a sign that your cat may be excited or focused.
        This usually happens when your cat is "hunting prey" around the house. Once your cat has calmed down, the tail
        twitching should subside as well.
      </div>
    </div>

    <!-- End paragraph -->

    <!-- foot -->
    <div class="cat-hello"></div>
    <div class="img11"></div>

    <div class="end-ber">
      <div class="text2">Send us an inquiry</div>
      <div class="btn-emil">
      </div>

      <!-- End foot -->

    </div>
    <div class="views">views:<%= count %>
    </div>
</body>

</html>